:root {
  --body-text: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  background-color: var(--white);
}

a {
  color: inherit;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.logo__span {
  color: var(--iris);
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.address__link:hover,
.address__link:focus {
  color: var(--ocean);
}
